.feed__notification {
  padding: 1em;
}

.notification--scroll {
  position: sticky;
  top: 0;
  z-index: 300;
  background-color: #fff;
  /* margin-bottom: 3em; */
}

.feed__notificationSplit h2:hover {
  background-color: #f0f9ff;
}
.feed__notificationSplit h2 {
  font-size: 1rem;
  color: #6e7f8d;
  padding: 1em 0em;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.feed__notificationSplit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}

.notification__am.active {
  color: var(--twitter-color);
  border-bottom: 2px solid var(--twitter-bg);
}

.notification__mentionItems h3 {
  padding-bottom: 0.5em;
  color: var(--sidenav-text);
}
.notification__mentionItems p {
  color: #657786;
  font-size: 0.95rem;
}
.notification__mentionItems {
  text-align: center;
  padding: 2em 0em;
  display: none;
}
.notification__allItems p {
  padding-left: 4em;
  color: var(--sidenav-text);
}
.notification__allItems {
  /* display: none; */
  border-bottom: 1px solid #e6ecf0;
  padding: 1em;
}
.notification__dp {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0.5em; */
  padding-left: 1em;
}

.notification__dp > div {
  margin-left: 1em;
}
/* #f0f9ff */
/* #778794 */
